extends ../artikel.pug

block isi
	h1 Pentingnya Kedisiplinan
	p Apa sih kedisiplinan itu?
	p Kedisiplinan itu adalah di saat kita melakukan semua tugas dengan baik.
	p Selain itu, dia sangat berdedikasi dalam menyelesaikan tugasnya. Istilahnya itu, dia sangat bersemangat dan bergairah menyelesaikan pekerjaannya.
	p Ketika seseorang semangat dalam menyelesaikan pekerjaannya, maka pekerjaannya akan cepet selesai. Akhirnya, banyak waktu sisanya buat mengerjakan yang lain.