extends ../artikel.pug

block isi
	h1 Galau Keuangan
	p Kata orang sih, zaman sekarang itu ekonomi serba sulit. Apa-apa naik semua. Mau beli bensin, naik; mau beli elpiji, naik; mau beli ciki, naik. Intinya serba sulit deh. Ada nggak sih solusinya?
	p Di sini, mungkin aku akan menjabarkan sedikit solusi keuangan yang aku pahami.
	h2 Bangun Passive Income
	p Passive income itu ibarat penolong saat kita perlu banget uang tambahan. Passive income ini bisa berupa Admob dari aplikasi yang kita buat, Adsense dari YouTube dan blog, hasil pembelian NFT, hasil dividen saham, hasil crypto, hasil lakunya foto di situs jual beli foto, dan masih banyak hal lainnya.
	p Tapi, kuncinya adalah pada kata "membangun".
	p Jadi, memang nggak bisa instan sih. Walaupun kondisi kamu sudah telat banget, apa-apa sudah serba kepepet, tapi nggak masalah, coba aja bangun lagi pendapatan-pendapatan pasif.
	p Kuncinya apa? Yaitu "perbanyak aset".
	p
		blockquote Kunci dari passive income adalah "perbanyak aset".
	h2 Cari Kerja Sampingan
	h2 Perketat Pengeluaran