extends ../artikel.pug

block isi
	h1 Selalu Semangat!!!
	p Kita harus selalu semangat... Kenapa? Karena untuk melakukan segala sesuatunya harus ada energi buat menggerakkannya. Misalnya aja energi untuk belajar, energi untuk berolahraga, energi buat bekerja, dan lain sebagainya.
	p Tapi, bukankah yang penting itu tinggal dijalanin?
	p Aku awalnya sih berpikir seperti itu. Tapi ternyata, nggak cuma harus dijalanin sih, tapi kita harus ada perhatian yang penuh dengan apa yang kita jalanin itu.
	p Misalnya aja pas lagi belajar, tentu lebih baik sih kita bener-bener perhatian dengan yang akan kita pelajari; bukannya malah mikirin yang lain-lain.
