extends base.pug

mixin item(judul, link)
	a.list-group-item.list-group-item-action(href=`artikel/${link}.html`) #{judul}

block isi
	.m-3
		.list-group
			+item("Selalu Semangat", "semangat")
			+item("Pentingnya Kedisiplinan", "disiplin")
			+item("Galau Keuangan", "galau-keuangan")